html, body {
	min-height: 100vh;
	min-width:100vw;
}


body {
	background-image: url("../images/newback.jpg");
}

h1 {
	color: aquamarine;
    font-size: 8em;
    font-family: 'Permanent Marker', cursive;

}

h2 {
	color:limegreen;
	font-size: 4em;
	font-family: 'Bangers', cursive;
}

img {
	height:100%;
	width:100%;
}

.smallertext {
	font-size:1em;
}


header {
	margin-right: 12%;
    margin-left: 12%;
    margin-top: 7%;
    margin-bottom: 7%;
    /*width: 100%;*/
    text-align: center;
}

.backgroundcolor {
	background-color: black;
}

.container {
	display: inline-flex;
    /*width: 100%;*/
    height: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 12%;
    border-width: 7px;
    border-style: dashed;
}

.gameContainer1 {
    background-color: limegreen;
    font-family: 'Bangers', cursive;
    font-size: 4em;
    text-align: center;
    float: left;
    width: 50%;
}

.gameContainer2 {
    background-color: aquamarine;
    font-family: 'Bangers', cursive;
    float: right;
    text-align: center;
    width: 50%;
    font-size: 4em;
}
